/*
	green 6db4b1
	light gray ccc
	dark gray 888
	black 222
	white fff
*/
*  {
	margin: 0;
	padding: 0;
	font-size: 16px;
	transition: all 300ms ease;
	-o-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
	font-family: 'Open Sans', sans-serif;
}
body {
	background: #fff;
	overflow-x: hidden;
}
header, main, footer {
	width: 100%;
}
ul {
	list-style-position: inside;
}
a {
    color: #6db4b1;
    text-decoration: none;
	display: inline-block;
}
a:hover {
	color: #888;
    text-decoration: underline;
}
h1 {
	color: #fff;
	font-size: 3em;
	font-weight: normal;
	text-shadow: 0 3px 6px rgba(0,0,0,0.6);
}
h2 {
	font-size: 2em;
	font-weight: 300;
}
h3 {
	color: #fff;
	font-size: 1em;
	font-weight: 300;
}
/*
	logo
*/
.logo {
	width: 19%;
	display: inline-block;
	vertical-align: middle;
}
.logo img {
	width: 100%;
	display: block;
}
/*
	menu
*/
.nav-bar {
	z-index: 1;
	color: #888;
	background: #fff;
	width: 80% !important;
	display: inline-block;
	vertical-align: middle;
}
.nav-bar a {
	padding: 24px 32px !important;
}
.nav-list-sub {
	background: #fff;
	box-shadow: 0px 3px 3px rgba(0,0,0,0.3);
}
/*
	header
*/
header .connect {
    border-bottom: 1px solid #ccc;
}
header .connect a {
	color: #888;
	display: inline-block;
}
header .connect a:hover {
	color: #fff;
	background: #6db4b1;
	text-decoration: none;
}
header .contact a {
	padding: 13px;
}
header .social a {
	padding: 8px;
}
header .social > a:nth-child(1):hover {
	background: #55acee;
}
header .social > a:nth-child(2):hover {
	background: #3b5998;
}
header .social > a:nth-child(3):hover {
	background: #d94a39;
}
/*
	footer
*/
footer {
	color: #fff;
	background: #6db4b1;
}
footer > div {
	padding: 16px 0;
}
footer .links {
	color: #888;
	font-weight: 300;
	background: #222;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
footer .links > * {
	text-align: left;
}
footer .links > div {
	margin: 16px 0;
}
footer .links > div > h3 {
	margin: 8px 0;
}
footer img {
	filter: grayscale(1);
	-o-filter: grayscale(1);
	-ms-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-webkit-filter: grayscale(1);
}
footer img:hover {
	filter: grayscale(0);
	-o-filter: grayscale(0);
	-ms-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-webkit-filter: grayscale(0);
}
footer .copyright a {
	color: #fff;
	text-decoration: underline;
}
footer .copyright a:hover {
	color: #888;
}
/*
	home
*/
.main-image {
	width: 100%;
	display: block;
	overflow: hidden;
	max-height: 400px;
	position: relative;
}
.main-image div {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 80%;
	margin: auto;
	height: 3em;
	position: absolute;
	text-align: center;
}
.main-image img {
	width: 100%;
}
/*
	mobile
*/
@media screen and (max-width: 940px) {
	.logo {
		width: 100%;
		margin: 16px auto;
		display: block;
		max-width: 350px;
	}
	.nav-bar {
		width: 100% !important;
		display: block;
	}
	.nav-list-main {
		background: #fff;
		box-shadow: 0px 3px 3px rgba(0,0,0,0.3);
	}
}
